[submodule "pack/plugins/start/YouCompleteMe"]
	path = pack/plugins/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "pack/plugins/start/delimitMate"]
	path = pack/plugins/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/plugins/start/nerdcommenter"]
	path = pack/plugins/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "pack/plugins/start/ranger.vim"]
	path = pack/plugins/start/ranger.vim
	url = https://github.com/francoiscabrol/ranger.vim
[submodule "pack/plugins/start/ultisnips"]
	path = pack/plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "pack/plugins/start/vim-snippets"]
	path = pack/plugins/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "pack/plugins/start/vim-nerdtree-syntax-highlight"]
	path = pack/plugins/start/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight
[submodule "pack/plugins/start/ctrlp.vim"]
	path = pack/plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/plugins/start/xterm-color-table.vim"]
	path = pack/plugins/start/xterm-color-table.vim
	url = https://github.com/guns/xterm-color-table.vim.git
[submodule "pack/plugins/start/gruvbox"]
	path = pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/plugins/start/airline"]
	path = pack/plugins/start/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/plugins/start/incsearch.vim"]
	path = pack/plugins/start/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim.git
[submodule "pack/plugins/start/emmet-vim"]
	path = pack/plugins/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "pack/plugins/start/syntastic"]
	path = pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "pack/plugins/start/vim-puppet"]
	path = pack/plugins/start/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
