[submodule "pack/plugins/start/nerdcommenter"]
	path = pack/plugins/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "pack/plugins/start/ranger.vim"]
	path = pack/plugins/start/ranger.vim
	url = https://github.com/francoiscabrol/ranger.vim
[submodule "pack/plugins/start/gruvbox"]
	path = pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/plugins/start/airline"]
	path = pack/plugins/start/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/plugins/start/incsearch.vim"]
	path = pack/plugins/start/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim.git
[submodule "pack/plugins/start/vim-puppet"]
	path = pack/plugins/start/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
