[submodule "pack/plugins/start/airline"]
	path = pack/plugins/start/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/plugins/start/incsearch.vim"]
	path = pack/plugins/start/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim.git
[submodule "pack/plugins/start/vim-airline-themes"]
	path = pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
